@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*:root can be useful for declaring global CSS variables*/
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: white;
    --main-color: #00abf0;
}

html {
    font-size: 60%;
    overflow-x: hidden;   /*overflow:hidden prevents scrollbars from showing up, even when they're necessary.*/
}

body {
    background: var(--bg-color);  /*declare a global variable named "--main-bg-color", then use the var() function to insert the value of the variable later in the style sheet*/
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;    /*rem-->root-em::element's font size relative to the size of the root element*/
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 3.5rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(ok2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 40rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 3rem 0 5rem;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 4rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 1.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;                        /*z-index only works on positioned elements and flex items*/
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {           /*The ::before selector inserts something before the content of each selected element*/
    background: var(--main-color);
}


.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    background: var(--main-color);
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background:transparent;
    border: 2px solid var(--bg-color);
    transition: 3s;
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .7;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position:relative;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .3rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

.about-content h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.about-content p {
    margin-bottom: 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
    height: 4.2rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.qualification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-bottom: 9rem;
    min-height: auto;
}

.qualification .edu-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.edu-row .edu-column {
    flex: 1 1 40rem;
}

.edu-column .title {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.edu-column .edu-box {
    border-left: .2rem solid var(--main-color);
}

.edu-box .edu-content {
    position: relative;
    padding-left: 2rem;
}

.edu-box .edu-content::before {
    content: '';
    position: absolute;
    background: var(--main-color);
    border-radius: 50%;
    left: -1.2rem;
    top: 2.2rem;
    width: 2rem;
    height: 2rem;
}

.edu-content .content {
    position: relative;
    padding: 2rem;
    border-top: .05rem solid var(--main-color);
    border-left: .05rem solid var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    
}

.edu-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 1s;
} 

.edu-content .content:hover::before {
    width: 100%;
}

.edu-content .content .year {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 1rem;
}

.edu-content .content .year i {
    padding-right: .5rem;
}

.edu-content .content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--main-color);
}

.edu-content .content h4 {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 2rem;
}

.edu-content .content p1 {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
    border-bottom: .1rem solid var(--text-color); 
}

.edu-content .content p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    padding-top: 0.7rem;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    background: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.skills-column .title i {
    padding-right: 1rem;
    color: var(--main-color);
}

.skills-column .skills-box {
    border-left: .2rem solid var(--main-color);
}

.skills-box .skills-content {
    position: relative;
    padding-left: 2rem;
    border-top: .05rem solid var(--main-color);
    border-left: .05rem solid var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    overflow: hidden;
    z-index: 1;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 1s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    font-size: 1.7rem;
    font-weight: 600;
    padding-right: 2rem;
}


.skills-content .progress .pie {
    width: 90%;
    height: 2.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem;
}

.skills-content .progress .pie span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}






.other-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    padding-bottom: 6rem;
    background: var(--second-bg-color);
}

.other-skills .other-skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.other-skills .other-skills-column {
    flex: 1 1 40rem;
}

.other-skills-column .title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.other-skills-column .title i {
    padding-right: 1rem;
    color: var(--main-color);
}

.other-skills-column .other-skills-box {
    border-left: .2rem solid var(--main-color);;
}

.other-skills-box .other-skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    z-index: 1;
}


.other-skills-box .other-skills-content::before {
    content: '';
    position: absolute;
    background: var(--bg-color);
    top:0;
    left:0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.other-skills-box .other-skills-content:hover::before {
    width: 100%;
}

.other-skills-content .progress {
    padding: 1rem 0;
}

.other-skills-content .progress h3 {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1)  .pie span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2)  .pie span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3)  .pie span {
    width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4)  .pie span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5)  .pie span {
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1)  .pie span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2)  .pie span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3)  .pie span {
    width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4)  .pie span {
    width: 80%;
}

.contact {
    min-height: auto;
    padding-bottom: 12rem;
}

.contact form {
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    padding-top: 4rem;
}

.contact form .input-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49.4%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .text-area-field textarea {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .text-area-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: 1s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .text-area-field textarea:focus~.focus,
.contact form .text-area-field textarea:valid~.focus {
    width: 100%;
}

.contact form .text-area-field {
    position: relative;
    display: flex;
    margin: .8rem 0;
    margin-bottom: 4rem;
}

.contact form .text-area-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--second-bg-color);
    padding: 2rem 10%;
}

.footer-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}